%div.container-fluid
  %div.row
    %div.col-md-6.col-md-offset-3
      %dl
        -@faqs.each do |faq|
          %p
            %dt
              =faq["question"]
            %dd
              =faq["answer"]