%p
	Every wanted to play your old games again without buying the console? That is what this is. This is a single computer that is about the size of a credit card. It has an HDMI port to connect directly to your TV. This computer also has 4 USB ports which enable you to use the USB retro controllers.
%p
	I will provide you will the Raspberry pit set up with Emulation Station ready to plug in a play.