%div.container-fluid
  %div.row
    %div.col-md-6.col-md-offset-3
      %p
        Every wanted to play your old games again without buying the console? That is what this is. This is a single computer that is about the size of a credit card and a couple inches tall with a case. It has an HDMI port to connect directly to your TV. This computer also has 4 USB ports which enable you to use the USB retro controllers.
      %p
        I will provide you will the Raspberry pit set up with Emulation Station ready to plug in and play.
      %p
        Please keep in mind this is NOT an original console. This is tiny computer that runs the games on it. This means that while most games work correctly some will have issues that can not be fixed. For example Star Fox for snes does not run right.
      %p
        I will do my best to help you get up and running. Optimally the Pie will show up to your house ready to plug in and play. If the device does not show up plug and play ready I am willing to help you get the device set up but I do NOT provide continued support.
      %p
        Please keep in mind that while the Pie comes with the following emulators I have not used them all so I can NOT vouch that the system/game you want will work. I have my Pie set up so I can try to verify for you if you want. Place your order and in the special instrucstions section ask if the emulator plays the system/game you are looking for and I can test it.
      %p
        For legal reasons I am not selling or providing games.
      %p
        I did not make Emuatlation Station or Retro Pie. 
      %strong
        The RetroPie SD-card includes emulators for the following systems:
      %ul
        %li
          Amiga (UAE4ALL)
        %li
          Apple II (LinApple)
        %li
          Atari 800 (Atari800)
        %li
          Atari 2600 (RetroArch/Stella)
        %li
          Atari ST/STE/TT/Falcon (Hatari)
        %li
          Apple Macintosh (Basilisk II)
        %li
          C64 (VICE)
        %li
          Amstrad CPC (#CPC4Rpi)
        %li
          Final Burn Alpha (RetroArch/PiFBA, RetroArch/FBA)
        %li
          Game Boy (RetroArch/Gambatte)
        %li
          Game Boy Advance (GpSP)
        %li
          Game Boy Color (RetroArch/Gambatte)
        %li
          Sega Game Gear (Osmose)
        %li
          Intellivision (jzIntv)
        %li
          MAME (RetroArch/mame4all-pi, RetroArch/mame4all)
        %li
          MSX (openMSX)
        %li
          PC – x86 (rpix86)
        %li
          NeoGeo (PiFBA, GnGeo)
        %li
          Nintendo Entertainment System (RetroArch/FCEUmm)
        %li
          Nintendo 64 (Mupen64Plus-RPi)
        %li
          TurboGrafx 16 – PC Engine (RetroArch/Mednafen/pce_fast)
        Ports
        %li
          – CaveStory (RetroArch/NXEngine)
        %li
          – Doom (RetroArch/PrBoom)
        %li
          – Duke Nukem 3D (eDuke)
        %li
          ScummVM
        %li
          Sega Master System / Mark III (RetroArch/Picodrive, Osmose, DGen)
        %li
          Sega Mega Drive / Genesis (RetroArch/Picodrive, DGen)
        %li
          Sega Mega-CD / CD (RetroArch/Picodrive, DGen)
        %li
          Sega 32X (RetroArch/Picodrive, DGen)
        %li
          Playstation 1 (RetroArch/PCSX ReARMed)
        %li
          Super Nintendo Entertainment System (RetroArch/Pocket SNES, snes9x-rpi)
        %li
          Sinclair ZX Spectrum (Fuse, FBZX)