.row
  .col-md-12.wrapper
    .row
      .col-md-10.col-md-offset-1
        %p#notice= notice
        %p
          %h3.text-center.margin-10-top
            How long has it been since you played an original Nintendo game?  
          %h4.text-center
            Do you even have your old consoles anymore??  
          %h3.text-center.margin-10-top
            Want to play old games whenever you want?!
.row
  .col-md-12.wrapper
    .row
      .col-md-10.col-md-offset-1
        %p.text-center
          What I am offering is to put together a RetroPie console for you. I will configue it and make sure the contorllers you buy are set up. I did not make this system or even write any code for the retro pie or emulationstation.  
.row
  .col-md-12.wrapper
    .row
      .col-md-10.col-md-offset-1
        %p
          This device is a small computer in a case approximately 4” x 2 ½” x 1 ½” tall. It has an HDMI port that directly connects to your TV and has 4 USB ports to connect to USB controllers.
.row
  .col-md-12.wrapper
    .row
      .col-md-10.col-md-offset-1
        %p
          The Raspberry Pi will show up to your house ready to plug in and play *YAY!* But, if you are having difficulty with the system initially, I am more than willing to help get you up and running. Please use the 
          = link_to 'contact me', contact_me_path
          form for troubleshooting and I will respond to you in a timely fashion.

  .col-md-12.wrapper
    .row
      .col-md-10.col-md-offset-1
        %p
          For legal reasons, I am NOT selling or providing games.
        %strong
          The RetroPie SD-card includes emulators for the following systems:
        %ul
          %li
            Atari 800
          %li
            Atari 2600
          %li
            C64
          %li
            Intellivision
          %li
            Amstrad CPC
          %li
            Game Boy
          %li
            Game Boy Advance
          %li
            Game Boy Color
          %li
            Sega Game Gear
          %li
            Nintendo Entertainment System
          %li
            Sega Master System / Mark III
          %li
            Sega Mega Drive / Genesis
          %li
            Sega Mega-CD / CD
          %li
            Sega 32X
          %li
            Super Nintendo Entertainment System