%div.row
  %div.col-md-8.col-md-offset-2
    %p#notice= notice
    %p
      How long has it been since you played an original Nintendo game?  Do you even have your old consoles anymore??  How badly do you want to be able to play your old games whenever you want?!
    %p
      What I am offering is your own personal all-in-one game system comprised of hundreds of original games from Nintendo, Sega, Game Boy, Atari, and MANY others. Using Raspberry Pie hardware, I have prepared an emulator (called Emulation Station), which is ready to plug in and play. In other words, you may again play Super Mario Bros., Excitebike, Sonic, and so many other games just as you did as a kid!  
    %p
      This device is a small computer in a case approximately 4” x 2 ½” x 1 ½” tall. It has an HDMI port that directly connects to your TV and has 4 USB ports to connect USB retro controllers.
    %p
      The Raspberry Pie will show up to your house ready to plug in and play *YAY!* But, if you are having difficulty with the system initially, I am more than willing to help get you up and running. If the system does not arrive in a plug and play condition, please use the contact me form (link) for troubleshooting and I will respond to you in a timely fashion as life with a family allows.
    %p
      Please keep in mind that this is NOT an original console; it is a tiny computer that allows you to play your childhood games. Since original cartridges are not in use with this system, some games may not work correctly or work at all. For example, Star Fox for SNES does not run at an optimal level for game play (sad day, I know!). REST ASSURED, however, most games work flawlessly just as how you remember them.
    %p
      I also want to mention the fact that I cannot vouch for all of the listed emulators (link) since I have not had the opportunity to test each individual one. In this case please use the contact me form (link) so I may provide initial troubleshooting. I have one of these amazing systems up and running in my household so I will be able to verify games and/or emulators as requested. Please note: I am more than willing to help get your device up and running, but I do NOT provide continued support.
    %p
      For legal reasons, I am NOT selling or providing games. Also, I did not make Emulations Station or Retro
    %strong
      The RetroPie SD-card includes emulators for the following systems:
    %ul
      %li
        Atari 800 (Atari800)
      %li
        Atari 2600 (RetroArch/Stella)
      %li
        C64 (VICE)
      %li
        Amstrad CPC (#CPC4Rpi)
      %li
        Game Boy (RetroArch/Gambatte)
      %li
        Game Boy Advance (GpSP)
      %li
        Game Boy Color (RetroArch/Gambatte)
      %li
        Sega Game Gear (Osmose)
      %li
        Nintendo Entertainment System (RetroArch/FCEUmm)
      %li
        Sega Master System / Mark III (RetroArch/Picodrive, Osmose, DGen)
      %li
        Sega Mega Drive / Genesis (RetroArch/Picodrive, DGen)
      %li
        Sega Mega-CD / CD (RetroArch/Picodrive, DGen)
      %li
        Sega 32X (RetroArch/Picodrive, DGen)
      %li
        Super Nintendo Entertainment System (RetroArch/Pocket SNES, snes9x-rpi)