= form_tag '/login' do
  .field.form-group
    %label{ for: :email }
      Email
    =text_field_tag :email, nil,  class: 'form-control'
  .field.form-group
    %label{ for: :password }
      Password
    =password_field_tag :password, nil, class: 'form-control'
  .field.form-group
    = submit_tag 'Login', class: 'btn btn-default'