%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
- if @user.phone.present?
  %p
    %strong Phone:
    = @user.phone
- unless @receipt.present? && @receipt
  =link_to 'Edit Shipping Information', edit_user_path(params["user_id"], order_id: params['order_id'], payment_id: params['payment_id']), class: 'btn btn-default btn-sm black'