%p
  Order date: 
  =local_time(order.created_at)
%table.table{:style => "width:100%"}
  %tr
    %th Category
    %th Item Name
    %th Item Price
    %th.item-quantity #
    %th.item-total Total
  - order.order_items.each do |order_item|
    %tr
      %td=order_item.item.category.name
      %td=order_item.item.title
      %td=humanized_money_with_symbol(order_item.price)
      %td.item-quantity=order_item.quantity
      %td=humanized_money_with_symbol(order_item.quantity * order_item.price)
  %tr
    %td{colspan: '3'}
    %td.item-quantity
    %td.item-total
  %tr
    %td{colspan: '3'}
    %td.item-quantity
      %strong
        Total:
    %td.item-total
      %strong
        $
        = order.total 
  - if order.delivery_type == 'delivery'
    %tr
      %td{colspan: '3'}
      %td.item-quantity
        %strong
          Shipping:
      %td.item-total
        %strong
          $
          = order.shipping_price
  %tr
    %td{colspan: '3'}
    %td.item-quantity
      %strong
        Final Total:
    %td.item-total
      %strong
        $
        ='%.2f' % (order.total + order.shipping_price).to_f
- unless @receipt.present? && @receipt
  =link_to 'Edit Order Information', edit_order_path(@order.order_id, user_id: params["user_id"], payment_id: params['payment_id']), class: 'btn btn-default btn-sm'