%div.row
  %div.col-md-6.col-md-offset-3
    %h2
      Thanks For placing your order
    %p
      I should have this item shipped in 1 - 2 weeks.
    %p
      You should also get a receipt in your email. You can use your email to generate a new email to check for status changes whenever you want.