%div.container-fluid
  %div.row
    %div.col-md-10.col-md-offset-1
      %p{class: 'text-right save_order_button'}
        %a{href: '#', class: 'btn btn-danger hidden', id: 'save_order_edits'}
          Save
      #order_table
        =render partial: 'index_table'
    %div.col-md-1