%div.row
  %div.col-md-6.col-md-offset-3
    %p.text-center
      All new orders start out with the base model and you can upgrade from there. The base model costs $#{$base_price.to_s}. This includes my fee for setting it up but does not include $#{$shipping} shipping. You may pick up locally you are near enough to me.
    %h4
      Please note. I will get the best items I can for the money. This means that the items in the pictures are used as representations. I will get you the best item I can.
    = render 'form'
  .col-md-3.text-center
    %h3#total-box-floater
      Total:
      %span.total
        =format_init_price