%div.container-fluid
  %div.row
    %div.col-md-8.col-md-offset-2
      -if @order_status
        %pre
          =@order_status.html_safe
      = form_tag("/order_status", method: "get", class: "form") do
        %div.form-group
          %p
            = label_tag(:order_id_label, "Order ID:")
          = text_field_tag(:order_id, nil, class: "form-control")
        %div.form-group
          .actions
            = submit_tag("Check order status",class: 'btn btn-default')
      Order status usually follow the follow progression:
      %ul
        %li
          %strong
            Unsubmitted:
          You need to verify your order before I will contact you
        %li
          %strong
            Ordered:
          Waiting to be contact by me
        %li
          %strong
            Verified:
          You have been verified by me and payment has been arranged
        %li
          %strong
            Waiting for Payment: 
          Waiting to get payment
        %li
          %strong
            Building:
          I am building your device. should take no more than a day or two.
        %li
          %strong
            Shipped:
          I have shipped the Pie
        %li
          %strong
            Closed:
          Either I have not heard back from you or we have talked and I know you are happy.
