%div.row
  %div.col-md-8.col-md-offset-2
    %h1 Verify Order
    %h3.text-center.red
      Your Order is not complete! 
      %br
      I will start making your order once I get payment confirmation.
    %p
      %h2.text-center
        Buyer Information
      = render partial: 'users/verify'
    %p
      %h2.text-center
        Order
      = render partial: 'orders/verify', locals: {order: @order}
      - binding.pry
    %p
      %br
      %h4
        Please note. I will get the best items I can for the money. This means that the items in the pictures are used as representations. I will get you the best item I can.
    %p.text-center
      - locals = Rails.env == 'development' ? { url: 'sandbox.paypal', business: 'WWT4KH9KAMUJQ', server_address: 'http://localhost:3003' } : { url: 'paypal', business: 'KELDMZTJ73GDA', server_address: 'http://bakemypie.com' }
      = render partial: 'payment_button', locals: locals
    %p
      Make sure to click back to my site after paying through paypal. Doing this means I get payment verification much faster.