// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shipping_info {
	min-height: 12em;
}

#order_special_instructions {
	min-height: 12em;
}

#perferred_contact {
	min-height: 5em;
}

td.title {
    width:70%;
}

#total-box {
  background-color: #e0e0e0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}
#total-box-floater {
	position: fixed;
	top: 20;
  right: 5;
  z-index: 999;
  background-color: #e0e0e0;
  padding: 2em .5em 2em .5em;
  border-radius: 10px;
}

.red {
  color: red;
}

#order-index {
  border-style: solid;
  border-width: .2em;
  border-radius: 10px;
}

.item-quantity {
  width: 1%;
}

table.table.unsaved-changes {
  border-style: solid;
  border-width: .2em;
  border-color: red;
  border-radius: 10px;
}

.unsaved-changes-background {
  background-color: red;
}

.save_order_button {
  min-height: 2.7em;
}

.order_id {
  height: 2em;
}

.item-total {
  width: 14%;
}

.fade-out {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.flash-save {
  background-color: green;
}

.details-row {
  background-color: #e0e0e0;
}