// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio-order-update {
  margin-left: auto;
  margin-right: auto;
}

#shipping_info {
	min-height: 12em;
}

#order_special_instructions {
	min-height: 12em;
}

#perferred_contact {
	min-height: 5em;
}

.title {
  width: 50%;
}

td.clear-radios {
  width: 47px;
}

#total-box {
  background-color: #e0e0e0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}
#total-box-floater {
	position: fixed;
	top: 20;
  right: 5;
  z-index: 999;
  background-color: #e0e0e0;
  padding: 2em .5em 2em .5em;
  border-radius: 10px;
}

.red {
  color: red;
}

#order-index {
  border-style: solid;
  border-width: .2em;
  border-radius: 10px;
}

.item-quantity {
  width: 1%;
}

table.table.unsaved-changes {
  border-style: solid;
  border-width: .2em;
  border-color: red;
  border-radius: 10px;
}

.unsaved-changes-background {
  background-color: red;
}

.save_order_button {
  min-height: 2.7em;
}

.order_id {
  height: 2em;
}

.item-total {
  width: 14%;
}

.fade-out {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.flash-save {
  background-color: green;
}

.details-row {
  background-color: #e0e0e0;
}

.mimic-strip-button {
    -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: rgb(192, 192, 192);
  background-image: linear-gradient(rgb(40, 160, 229), rgb(1, 94, 148));
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(51, 51, 51);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(51, 51, 51);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(51, 51, 51);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 31.9886360168457px;
  letter-spacing: normal;
  line-height: 18.1818180084229px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  width: 119.048294067383px;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

.mimic-strip-button-span {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(18, 117, 255);
  background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 30px;
  letter-spacing: normal;
  line-height: 30px;
  min-height: 30px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
  text-transform: none;
  visibility: visible;
  width: 117.05965423584px;
  word-spacing: 0px;
}