.contact_me_body {
	min-height: 16em;
}

.wrapper {
	background-color: white;
	width: 100%;
	padding: 1.5em 0 1.5em 0;
	opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  margin-top: 5em;
  .wrapper:not(:first-child) {
  	margin-top: 0;
  }
}